extends layout.pug

block content
  h2 #{article.title}
  
  div Tags: &nbsp;
    each tag in article.tags
      span(class="tag") #{tag}
  br
  p(class="uk-article-meta") 
    if (toRead < 1)
      | Temps de lecture estimé: Moins d'une minute
    if (toRead === 1)
      | Temps de lecture estimé: #{toRead} minute
    if (toRead > 1)
      | Temps de lecture estimé: #{toRead} minutes
  if (article.source)
    i Source: #{article.source}
  
  article(class="uk-article")!= article.article
  
  h4
    a(href="/") Retour à l'accueil
