extends layout.pug

block content
  p(class="lead")
  
   article(class="uk-article")
   
    if articles.length != 0
      each article in articles
        div(class="list-blog-header")
          h1(class="uk-article-title" style="color: #739a99") #{article.fields.title}
          p(class="uk-article-meta") #{article.fields.date.toLocaleString()}
          p(class="uk-article-meta") Temps de lecture estimé: #{article.toRead} minutes
          div(class="list-blog-padding")!= md(article.fields.article.substring(0, 255) + "...") 
          br
          a(href="/article/" + article.sys.id + "/" + article.fields.slug) Lire la suite !
          hr
    else
      div(class="list-blog-header")
               h1(class="uk-article-title" style="color: #739a99; text-align: center") Aucun article !
    p Page #{pagination.id} sur #{pagination.max} 
    p  
      - idMoins = pagination.id - 1
      - id = pagination.id + 1
      if pagination.preced
        a(href="/" + idMoins) &lt;- Précédent
      if pagination.precedNext
        a(href="/" + idMoins) &lt;- Précédent 
        a(href="/" + id) Suivant -&gt;
      if pagination.next
        a(href="/" + id) Suivant -&gt;
